.nav-pills > li > a.active {
	background-color: #000000 !important;
	align-items: center;
	display: flex;
}

.nav-item {
	align-items: center;
	margin-top: 10px;
	display: flex;
	margin-left: 10px;
}

.nav-item > a {
	color: #ffffff !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #4E4E4E;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #b7b7b7;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #828282; 
}

.filterWidget {
	width: 95%;
	height: auto;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #f2eeed;
	box-shadow: 5px 10px 5px;
	border-radius: 5px;
}

.enemyWidget {
	width: 95%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 80px);
	justify-content: space-between;
	grid-gap: 10px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.enemyWidget_CN {
	width: 95%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 80px);
	justify-content: space-between;
	grid-gap: 10px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.subheader {
	position: relative;
	opacity: 0;
	top: 30px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.enemyCard {
	width: 80px;
	height: 80px;
	position: relative;
	aspect-ratio: 1 / 1;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 0;
	top: 30px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
	0% { opacity: 0; top: 100px; }
	100% { opacity: 1; top: 0px; }
}

@-moz-keyframes fadein {
	0% { opacity: 0; top: 100px; }
	100% { opacity: 1; top: 0px; }
}

@-ms-keyframes fadein {
	0% { opacity: 0; top: 100px; }
	100% { opacity: 1; top: 0px; }
}

@-o-keyframes fadein {
	0% { opacity: 0; top: 100px; }
	100% { opacity: 1; top: 0px; }
}

@keyframes fadein {
	0% { opacity: 0; top: 100px; }
	100% { opacity: 1; top: 0px; }
}

.enemyCard:hover {
	box-shadow: 0 0 5px #000000;
}

.enemyCard.disable {
	display: none;
}

.enemyWidget::after {
	content: "";
	flex: auto;
}

figcaption {
	background-color: #1f1e1e;
	color: white;
	font-size: 12px;
	display: block;
	float: left;
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	top: 0;
}

figure {
	position: relative;
	float: left;
}

input.cboxButton {
	display: none;
	user-select: none;
}

input.cboxButton + label {
	position: relative;
	border: 1px solid grey;
	max-height: 32px;
	background: ghoswhite;
	padding: 5px 8px;
	cursor: pointer;
	border-radius: 5px;
	user-select: none;
	box-shadow: 0px 1px 2px dimgrey;
	top: 0px;
}

input.cboxButton:not(:checked) + label:hover {
	top: 1px;
	box-shadow: none;
}

input.cboxButton + label:active,
input.cboxButton:checked + label {
	/*box-shadow: 0px 0px 3px inset;*/
	top: 1px;
	background: #6c757d;
	color: white;
	user-select: none;
	box-shadow: none;
}

.buttonpara {
	line-height: auto;
}

#lightBox {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 0%;
	background-color: rgba(0, 0, 0, 0.8);
	overflow-y: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	-moz-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	-ms-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	-o-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
}

#lightBox.active {
	opacity: 1;
	height: 100%;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#infoBox {
	width: 65%;
	height: 0%;
	/*max-height: 0%;*/
	border-radius: 5px;
	padding: 20px;
	background-color: #f2eeed;
	box-shadow: 0px 0px 5px;
	overflow-y: auto;
	/*margin-bottom: 100vh;*/
	-webkit-transition: height 0.2s ease;
	-moz-transition: height 0.2s ease;
	-ms-transition: height 0.2s ease;
	-o-transition: height 0.2s ease;
	transition: height 0.2s ease;
}

#infoBox.active {
	height: 90%;

}

#scrollTop {
	position: fixed;
	right: calc(40px - (100vw - 100%));
	bottom: 20px;
	height: 60px;
	width: 60px;
	z-index: 999;
	font-size: 25px;
	background-color: #f2eeed;
	color: black;
	cursor: pointer;
	border: none;
	outline: none;
	padding: auto;
	padding-bottom: 4px;
	margin-bottom: -12rem;
	border-radius: 10px;

	transition: margin-bottom 0.2s;
	box-shadow: 0 0 5px #292828;
}

#scrollTop:hover {
	background-color: #b8b3b2;
}

#scrollTop.active {
	margin-bottom: 0;
}

.hovertooltip {
	position: relative;
}

.hovertooltip::before, .hovertooltip::after {
	--scale: 0;
	--arrow-size: 20px;
	--tooltip-color: #c9c9c9;
	position: absolute;
	top: -.25rem;
	left: 50%;
	transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;
}

.hovertooltip::before {
	--translate-y: calc(-100% - var(--arrow-size));
	content: attr(data-tooltip);
	color: black;
	font-weight: normal !important;
	font-size: 15px;
	padding: .5rem;
	border-radius: .3rem;
	text-align: center;
	width: max-content;
	min-width: 140px;
	max-width: 100%;
	background: var(--tooltip-color);
}

.hovertooltip:hover::before,
.hovertooltip:hover::after {
	--scale: 1;
}

.hovertooltip::after {
	--translate-y: calc(-1 * var(--arrow-size));
	content: '';
	border: var(--arrow-size) solid transparent;
	border-top-color: var(--tooltip-color);
	transform-origin: top center;
}

@media (max-width: 991px) {
	#infoBox {
		width: 90%;
	}

	.buttonpara {
		line-height: 46px;
	}
}

/*———————————————————————————————————————————————————————————————————————————————————————————————————————*/

.stageCard {
	width: 95%;
	height: auto;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #f2eeed;
	box-shadow: 5px 10px 5px;
	border-radius: 5px;
}

/*.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active, .collapsible:hover {
	background-color: #555;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}*/

/*———————————————————————————————————————————————————————————————————————————————————————————————————————*/

.calculator {
	outline: 1px solid #c00;

	display: grid;
	height: 600px;
	width: 100%;
	grid-template-columns: repeat(auto-fill, 280px);
	gap: 30px;
	justify-content: center;
}

.calcWidget {
	width: 280px;
	height: auto;
	background-color: #f2eeed;
	box-shadow: 5px 10px 5px;
	border-radius: 5px;
	padding: 10px 20px;


}

@media (max-width: 1399px) {
	.calcWidget.c4 {
		display: none;
	}
}

@media (max-width: 991px) {
	.calcWidget.c3 {
		display: none;
	}
}

@media (max-width: 767px) {
	.calcWidget.c2 {
		display: none;
	}
}