.nav-pills > li > a.active {
    background-color: #000000 !important;
    align-items: center;
    display: flex;
}

.nav-item {
    align-items: center;
    margin-top: 10px;
    display: flex;
    margin-left: 10px;
}

.nav-item > a {
    color: #ffffff !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #4E4E4E;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #828282; 
}

.filterWidget {
    width: 95%;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #f2eeed;
    box-shadow: 5px 10px 5px;
    border-radius: 5px;
}

.enemyWidget {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: space-between;
    grid-gap: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.enemyWidget_CN {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: space-between;
    grid-gap: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.enemyCard {
    width: 80px;
    height: 80px;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;
    cursor: pointer;
}

.enemyCard:hover {
    box-shadow: 0 0 5px #000000;
}

.enemyWidget::after {
    content: "";
    flex: auto;
}

figcaption {
    background-color: #1f1e1e;
    color: white;
    font-size: 12px;
    display: block;
    float: left;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
}

figure {
  position: relative;
  float: left;
}

button {
    box-shadow: 1px 1px 2px;
}

input.cboxButton {
  display: none;
  user-select: none;
}

input.cboxButton + label {
  border: 1px solid grey;
  background: ghoswhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
}

input.cboxButton:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}

input.cboxButton + label:active,
input.cboxButton:checked + label {
  /*box-shadow: 0px 0px 3px inset;*/
  background: #6c757d;
  color: white;
  user-select: none;
}

#lightBox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    /*display: none;*/
    display: flex;
    height: 0%;
    opacity: 0;
/*    -webkit-transition: opacity 0.2s ease-in-out, height 0.2s linear;
    -moz-transition: opacity 0.2s ease-in-out, height 0.2s linear;
    -ms-transition: opacity 0.2s ease-in-out, height 0.2s linear;
    -o-transition: opacity 0.2s ease-in-out, height 0.2s linear;
    transition: opacity 0.2s ease-in-out, height 0.2s linear;*/
    -webkit-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
    -moz-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
    -ms-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
    -o-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
    transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
    
/*    animation: fadeout 0.1s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeout 0.1s;
    -webkit-animation-fill-mode: forwards;*/
}

#lightBox.active {
    /*display: flex;*/
    opacity: 1;
    height: 100%;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;


/*    animation: fade 0.1s;
    animation-fill-mode: forwards;
    -webkit-animation: fade 0.1s;
    -webkit-animation-fill-mode: forwards;*/
}

#infoBox {
    width: 65%;
    height: auto;
    max-height: 90%;
    border-radius: 5px;
    padding: 20px;
    background-color: #f2eeed;
    box-shadow: 0px 0px 5px;
    overflow-y: auto;
}

#scrollTop {
    position: fixed;
    right: 30px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    z-index: 999;
    font-size: 25px;
    background-color: #f2eeed;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    padding: auto;
    padding-bottom: 4px;
    margin-bottom: -12rem;
    border-radius: 10px;
    transition: margin-bottom 0.2s;
    box-shadow: 0 0 5px #292828;
}

#scrollTop:hover {
    background-color: #b8b3b2;
}

#scrollTop.active {
    margin-bottom: 0;
}

@media (max-width: 700px) {
    #infoBox {
        width: 90%;
    }
}

/*———————————————————————————————————————————————————————————————————————————————————————————————————————*/

.stageCard {
    width: 95%;
    height: auto;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #f2eeed;
    box-shadow: 5px 10px 5px;
    border-radius: 5px;
}

/*.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}*/

/*———————————————————————————————————————————————————————————————————————————————————————————————————————*/

.calculator {
    outline: 1px solid #c00;
    height: 500px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    display: flex;
}

.calcWidget {
    width: 250px;
    height: 500px;
    background-color: #f2eeed;
    box-shadow: 5px 10px 5px;
    border-radius: 5px;
    margin: 20px;
}