.nav-pills > li > a.active {
	background-color: #000000 !important;
	align-items: center;
	display: flex;
}

.nav-item {
	align-items: center;
	margin-top: 10px;
	display: flex;
	margin-left: 10px;
}

.nav-item > a {
	color: #ffffff !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #4E4E4E;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #919090;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #696969; 
}

/*.searchbar {
	opacity: 0;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}*/

.filterWidget {
	opacity: 0;
	width: 95%;
	height: auto;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 35px;
	background-color: #f2eeed;
	box-shadow: 5px 10px 5px;
	border-radius: 5px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sortEvent {
	z-index: 5000;
	opacity: 0;
	width: 95%;
	position: relative;
	height: auto;
	margin: auto;
	/*display: inline;*/
	display: flex;
	justify-content: space-between;

	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

#dropdownButton {
	box-shadow: 1px 1px 4px;
	width: 30%;
	background-color: #f2eeed !important;
	color: black;
}

#dropdownButton:hover {
	background-color: #bdb6b5 !important;
}

#beventclear {
	position: relative;
	margin-left: 5px;
	top: 1px;
	height: 37px;
	font-size: 14px;

	background-color: #f2eeed;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 1px 1px 4px;
	transition: background-color 0.2s;
}

#beventclear:hover {
	top: 2px;
	background-color: #bdb6b5;
	box-shadow: 0px 0px;

}

#beventclear:active {
	background: #6c757d;
	color: white;
	box-shadow: 0px 0px;
}

.enemyWidget {
	width: 95%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 80px);
	justify-content: space-between;
	grid-gap: 10px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.enemyWidget_CN {
	width: 95%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 80px);
	justify-content: space-between;
	grid-gap: 10px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.enheader.disable {
	height: 0;
	visibility: hidden;
}

.subheader.disable {
	height: 0;
	visibility: hidden;
}

.subheader.moveup {
	margin-top: -30px;
}

.enheader {
	opacity: 0;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.subheader {
	width: 95%;
	margin: auto;
	margin-top: 30px;
	position: relative;
	opacity: 0;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

.enemyCard {
	width: 80px;
	height: 80px;
	position: relative;
	aspect-ratio: 1 / 1;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 0;
	transition: box-shadow 0.2s;
}

.enemyCard.disable {
	display: none;
}

.enemyCard.active {
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.enemyCard.hidden {
	visibility: hidden;
}

.enemyCard.delay {
	animation-delay: 0.25s
}

@-webkit-keyframes fadein {
	0% { opacity: 0; transform: translateY(70px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@-moz-keyframes fadein {
	0% { opacity: 0; transform: translateY(70px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@-ms-keyframes fadein {
	0% { opacity: 0; transform: translateY(70px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@-o-keyframes fadein {
	0% { opacity: 0; transform: translateY(70px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@keyframes fadein {
	0% { opacity: 0; transform: translateY(70px); }
	100% { opacity: 1; transform: translateY(0px); }
}

@-webkit-keyframes fadeout {
	0% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(-70px); }
}

@-moz-keyframes fadeout {
	0% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(-70px); }
}

@-ms-keyframes fadeout {
	0% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(-70px); }
}

@-o-keyframes fadeout {
	0% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(-70px); }
}

@keyframes fadeout {
	0% { opacity: 1; transform: translateY(0px); }
	100% { opacity: 0; transform: translateY(-70px); }
}

.enemyCard:hover {
	box-shadow: 0 0 7px white;
}

.enemyWidget::after {
	content: "";
	flex: auto;
}

figcaption {
	background-color: #1f1e1e;
	color: white;
	font-size: 12px;
	display: block;
	float: left;
	position: absolute;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	top: 0;
}

figure {
	position: relative;
	float: left;
}

input.cboxButton {
	display: none;
	user-select: none;
}

input.cboxButton + label {
	position: relative;
	border: 1px solid grey;
	max-height: 32px;
	background: ghoswhite;
	padding: 5px 8px;
	cursor: pointer;
	border-radius: 5px;
	user-select: none;
	box-shadow: 0px 1px 2px dimgrey;
	top: 0px;

}

input.cboxButton:not(:checked) + label:hover {
	top: 1px;
	box-shadow: none;
}

input.cboxButton + label:active,
input.cboxButton:checked + label {
	/*box-shadow: 0px 0px 3px inset;*/
	top: 1px;
	background: #6c757d;
	color: white;
	user-select: none;
	box-shadow: none;
}

.buttonpara {
	line-height: auto;
}

.buttonDiv {
	margin-bottom: 15px;
}

#lightBox {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 0%;
	background-color: rgba(0, 0, 0, 0.8);
	overflow-y: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	-moz-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	-ms-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	-o-transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
	transition: opacity 0.2s ease-in-out, height 0s linear 0.2s;
}

#lightBox.active {
	opacity: 1;
	height: 100%;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#infoBox {
	width: 65%;
	height: 90%;
	position: relative;
	top: calc(-100vh - 100px);
	border-radius: 5px;
	padding: 20px;
	background-color: #f2eeed;
	box-shadow: 0px 0px 5px;
	overflow-y: auto;
	opacity: 0;
	-webkit-transition: top 0.2s cubic-bezier(1,-0.01,1,.18), opacity 0.4s linear;
	-moz-transition: top 0.2s cubic-bezier(1,-0.01,1,.18), opacity 0.4s linear;
	-ms-transition: top 0.2s cubic-bezier(1,-0.01,1,.18), opacity 0.4s linear;
	-o-transition: top 0.2s cubic-bezier(1,-0.01,1,.18), opacity 0.4s linear;
	transition: top 0.2s cubic-bezier(1,-0.01,1,.18), opacity 0.4s linear;
}

#infoBox.active {
	top: 0;
	opacity: 1;
	-webkit-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	-moz-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	-ms-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	-o-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	transition: top 0.2s cubic-bezier(0,.78,0,.99);
}

#infoBox.active {
	top: 0;
	opacity: 1;
	-webkit-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	-moz-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	-ms-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	-o-transition: top 0.2s cubic-bezier(0,.78,0,.99);
	transition: top 0.2s cubic-bezier(0,.78,0,.99);
}

#scrollTop {
	position: fixed;
	right: calc(40px - (100vw - 100%));
	bottom: 20px;
	height: 60px;
	width: 60px;
	z-index: 999;
	font-size: 25px;
	background-color: #f2eeed;
	color: black;
	cursor: pointer;
	border: none;
	outline: none;
	padding: auto;
	padding-bottom: 4px;
	margin-bottom: -12rem;
	border-radius: 10px;

	transition: margin-bottom 0.2s;
	box-shadow: 0 0 5px #292828;
}

#scrollTop:hover {
	background-color: #b8b3b2;
}

#scrollTop.active {
	margin-bottom: 0;
}

.hovertooltip {
	position: relative;
}

.hovertooltip::before, .hovertooltip::after {
	--scale: 0;
	--arrow-size: 20px;
	--tooltip-color: #c9c9c9;
	position: absolute;
	top: -.25rem;
	left: 50%;
	transform: translateX(var(--translate-x)) translateY(var(--translate-y, 0)) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;
	/*transform-origin: 30% bottom;*/
}

.hovertooltip::before {
	--translate-y: calc(-100% - var(--arrow-size));
	--translate-x: -50%;
	content: attr(data-tooltip);
	color: black;
	font-weight: normal !important;
	font-size: 15px;
	padding: .5rem;
	border-radius: .3rem;
	text-align: center;
	width: max-content;
	min-width: 160px;
	max-width: 100%;
	background: var(--tooltip-color);
}

.hovertooltip:hover::before,
.hovertooltip:hover::after {
	--scale: 1;
}

.hovertooltip::after {
	--translate-y: calc(-1 * var(--arrow-size));
	--translate-x: -50%;
	content: '';
	border: var(--arrow-size) solid transparent;
	border-top-color: var(--tooltip-color);
	transform-origin: top center;
}

.hovertooltip.right::before {
	--translate-x: -25%;
	transform-origin: 25% bottom;
}

.hovertooltip.right::after {
	--translate-x: -50%;
	transform-origin: top center;
}

.hovertooltip.left::before {
	--translate-x: -75%;
	transform-origin: 75% bottom;
}

.hovertooltip.left::after {
	--translate-x: -50%;
	transform-origin: top center;
}

@media (max-width: 991px) {
	#infoBox {
		width: 90%;
	}

	.buttonpara {
		line-height: 46px;
	}
}

/*———————————————————————————————————————————————————————————————————————————————————————————————————————*/

.stageCard {
	width: 95%;
	height: auto;
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #f2eeed;
	box-shadow: 5px 10px 5px;
	border-radius: 5px;
}

/*———————————————————————————————————————————————————————————————————————————————————————————————————————*/

.outline {
	outline: 1px solid #c00;
}

.orundum {
	left:  50px;
}

.hhbuttons {
	display: grid;
	height: 52px;
	width: 100%;
	grid-template-columns: 174px 174px 174px 174px;
	gap: 135px;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: center;
}

.hhbutton {
	box-shadow: 4px 6px 5px;
	position: relative;
	cursor: pointer;
	opacity: 0;
}

.hhbutton:hover {
	filter: brightness(0.7);
	box-shadow: none;
	top: 1px;
}

#hhb1 {
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#hhb2 {
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

#hhb3 {
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation-delay: 0.4s
}

#hhb4 {
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation-delay: 0.6s
}

.calculator {
	display: grid;
	height: auto;
	width: 100%;
	grid-template-columns: repeat(auto-fill, 280px);
	gap: 30px;
	margin-bottom: 20px; /*GET RID OF THIS LATER*/
	justify-content: center;
}

.cwContainer {
	width: 280px;
	height: auto;
}

.calcWidget {
	width: 280px;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background-color: #f2eeed;
	box-shadow: 5px 10px 5px;
	border-radius: 5px;
	padding: 10px 18px;
	opacity: 0;
}

.calcWidget.active {
	display: flex;

	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.calcWidget.disable {
	-webkit-animation: fadeout 0.5s;
	-moz-animation: fadeout 0.5s;
	-ms-animation: fadeout 0.5s;
	-o-animation: fadeout 0.5s;
	animation: fadeout 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.cwName {
	font-size: 30px;
}

.cwImg {
	margin-top: 5px;
	margin-right: 2px;
	width: 70px;
	height: 70px;
	box-shadow: 0px 0px 3px;
}

.cwDropdown {
	background-color: #dbdbdb;
	border-radius: 5px;
	padding: 3px;
	font-size: 18px;
	cursor: pointer;
	border: none;
	outline: none;
}

.cwDropdownContent {
	padding: 3px;
	font-size: 18px;
}

.cwDropdownContent:hover {
	cursor: pointer;
}

.additionalStats {
	position: relative;
	opacity: 0;
	width: 80%;
	min-width: 500px;
	height: auto;
	margin: auto;
	background-color: #dbdbdb;
	border-radius: 5px;
	padding: 15px 20px;
	margin-bottom: 40px;
	border: none;
	outline: none;
	box-shadow: 5px 10px 5px;
	-webkit-animation: fadein 0.5s;
	-moz-animation: fadein 0.5s;
	-ms-animation: fadein 0.5s;
	-o-animation: fadein 0.5s;
	animation: fadein 0.5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation-delay: 0.7s
}











/*———————————————————————————————————————————————————————————————————————————————————————————————————————*/

@media (max-width: 1399px) {
	.calculator {
		grid-template-columns: 280px, 280px, 280px;
	}

	.cwContainer.cc4 {
		height: 0px;
		width: 0px;
	}

	.calcWidget.c4 {
		/*width: 0px;*/
		display: none;
	}

	#hhb4 {
		width: 0px;
	}

	.orundum {
		left: 117px;
	}

	.hhbuttons {
		grid-template-columns: 174px 174px 174px;
	}
}

@media (max-width: 1199px) {
	.orundum {
		left: 27px;
	}
}

@media (max-width: 991px) {
	.calculator {
		grid-template-columns: 280px, 280px;
	}

	.cwContainer.cc3 {
		height: 0px;
		width: 0px;
	}

	.calcWidget.c3 {
		/*width: 0px;*/
		display: none;
	}

	#hhb3 {
		width: 0px;
	}

	.orundum {
		left: 60px;
	}

	.hhbuttons {
		grid-template-columns: 174px 174px;
	}

	input.cboxButton + label {
		margin-bottom: 10px;
	}

	.buttonDiv {
		margin-bottom: 5px;
	}
}

@media (max-width: 767px) {

	.calculator {
		grid-template-columns: 280px;
	}

	.cwContainer.cc2 {
		height: 0px;
		width: 0px;
	}

	.calcWidget.c2 {
		/*width: 0px;*/
		display: none;
	}

	#hhb2 {
		width: 0px;
	}

	.orundum {
		left: 130px;
	}

	.hhbuttons {
		grid-template-columns: 174px;
	}
}