<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
	<title>Arknemy</title>
	<link rel="stylesheet" href="enemy.css">
</head>
<body style="background-color: #363535;">
	<div class="container">
		<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/enemy/" class="d-flex align-items-center me-md-auto text-dark text-decoration-none">
			<img src="/enemy/static/assets/icon.png" style="width: 60px; margin-right:.5em" >
			<span class="display-5" style="color: white;">Arknemy</span>
		</a>
		<ul class="nav nav-pills">
			<li class="nav-item"><a href="/enemy/" class="nav-link active">Enemies</a></li>
		</ul>
		</header>
	</div>

	<div class="container" id="mainDiv">
		<!-- {% block content %} {% endblock %} -->
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

	<!-- {% block jScript %} {% endblock %} -->
</body>
</html>
